.fc-dayGridDay-view .fc-content-skeleton,
.fc-dayGridWeek-view .fc-content-skeleton {
    padding-bottom: 1em
}

.fc-dayGrid-view .fc-body .fc-row {
    min-height: 4em
}

.fc-row.fc-rigid {
    overflow: hidden
}

.fc-row.fc-rigid .fc-content-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.fc-day-top.fc-other-month {
    opacity: .3
}

.fc-dayGrid-view .fc-day-number,
.fc-dayGrid-view .fc-week-number {
    padding: 2px
}

.fc-dayGrid-view th.fc-day-number,
.fc-dayGrid-view th.fc-week-number {
    padding: 0 2px
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    float: right
}

.fc-rtl .fc-dayGrid-view .fc-day-top .fc-day-number {
    float: left
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-week-number {
    float: left;
    border-radius: 0 0 3px 0
}

.fc-rtl .fc-dayGrid-view .fc-day-top .fc-week-number {
    float: right;
    border-radius: 0 0 0 3px
}

.fc-dayGrid-view .fc-day-top .fc-week-number {
    min-width: 1.5em;
    text-align: center;
    background-color: #f2f2f2;
    color: grey
}

.fc-dayGrid-view td.fc-week-number {
    text-align: center
}

.fc-dayGrid-view td.fc-week-number>* {
    display: inline-block;
    min-width: 1.25em
}

.fc-timeGrid-view .fc-day-grid {
    position: relative;
    z-index: 2
}

.fc-timeGrid-view .fc-day-grid .fc-row {
    min-height: 3em
}

.fc-timeGrid-view .fc-day-grid .fc-row .fc-content-skeleton {
    padding-bottom: 1em
}

.fc .fc-axis {
    vertical-align: middle;
    padding: 0 4px;
    white-space: nowrap
}

.fc-ltr .fc-axis {
    text-align: right
}

.fc-rtl .fc-axis {
    text-align: left
}

.fc-time-grid,
.fc-time-grid-container {
    position: relative;
    z-index: 1
}

.fc-time-grid {
    min-height: 100%
}

.fc-time-grid table {
    border: 0 hidden transparent
}

.fc-time-grid>.fc-bg {
    z-index: 1
}

.fc-time-grid .fc-slats,
.fc-time-grid>hr {
    position: relative;
    z-index: 2
}

.fc-time-grid .fc-content-col {
    position: relative
}

.fc-time-grid .fc-content-skeleton {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0
}

.fc-time-grid .fc-business-container {
    position: relative;
    z-index: 1
}

.fc-time-grid .fc-bgevent-container {
    position: relative;
    z-index: 2
}

.fc-time-grid .fc-highlight-container {
    z-index: 3
}

.fc-time-grid .fc-event-container {
    position: relative;
    z-index: 4
}

.fc-time-grid .fc-now-indicator-line {
    z-index: 5
}

.fc-time-grid .fc-mirror-container {
    position: relative;
    z-index: 6
}

.fc-time-grid .fc-slats td {
    height: 1.5em;
    border-bottom: 0
}

.fc-time-grid .fc-slats .fc-minor td {
    border-top-style: dotted
}

.fc-time-grid .fc-highlight-container {
    position: relative
}

.fc-time-grid .fc-highlight {
    position: absolute;
    left: 0;
    right: 0
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 2.5% 0 2px
}

.fc-rtl .fc-time-grid .fc-event-container {
    margin: 0 2px 0 2.5%
}

.fc-time-grid .fc-bgevent,
.fc-time-grid .fc-event {
    position: absolute;
    z-index: 1
}

.fc-time-grid .fc-bgevent {
    left: 0;
    right: 0
}

.fc-time-grid-event {
    margin-bottom: 1px
}

.fc-time-grid-event-inset {
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff
}

.fc-time-grid-event.fc-not-start {
    border-top-width: 0;
    padding-top: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.fc-time-grid-event.fc-not-end {
    border-bottom-width: 0;
    padding-bottom: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.fc-time-grid-event .fc-content {
    overflow: hidden;
    max-height: 100%
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
    padding: 0 1px
}

.fc-time-grid-event .fc-time {
    font-size: .85em;
    white-space: nowrap
}

.fc-time-grid-event.fc-short .fc-content {
    white-space: nowrap
}

.fc-time-grid-event.fc-short .fc-time,
.fc-time-grid-event.fc-short .fc-title {
    display: inline-block;
    vertical-align: top
}

.fc-time-grid-event.fc-short .fc-time span {
    display: none
}

.fc-time-grid-event.fc-short .fc-time:before {
    content: attr(data-start)
}

.fc-time-grid-event.fc-short .fc-time:after {
    content: "\A0-\A0"
}

.fc-time-grid-event.fc-short .fc-title {
    font-size: .85em;
    padding: 0
}

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    overflow: hidden;
    line-height: 8px;
    font-size: 11px;
    font-family: monospace;
    text-align: center;
    cursor: s-resize
}

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer:after {
    content: "="
}

.fc-time-grid-event.fc-selected .fc-resizer {
    border-radius: 5px;
    border-width: 1px;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: inherit;
    background: #fff;
    left: 50%;
    margin-left: -5px;
    bottom: -5px
}

.fc-time-grid .fc-now-indicator-line {
    border-top-width: 1px;
    left: 0;
    right: 0
}

.fc-time-grid .fc-now-indicator-arrow {
    margin-top: -5px
}

.fc-ltr .fc-time-grid .fc-now-indicator-arrow {
    left: 0;
    border-width: 5px 0 5px 6px;
    border-top-color: transparent;
    border-bottom-color: transparent
}

.fc-rtl .fc-time-grid .fc-now-indicator-arrow {
    right: 0;
    border-width: 5px 6px 5px 0;
    border-top-color: transparent;
    border-bottom-color: transparent
}

.fc-header-toolbar {
    display: none
}

.fc-scroller {
    height: auto!important
}

.fc th {
    padding: .75rem 1rem;
    font-size: .75rem;
    font-weight: 600;
    color: #8898aa;
    text-transform: uppercase
}

.fc div.fc-row {
    margin-right: 0;
    border: 0
}

.fc button .fc-icon {
    top: -5px
}

.fc-unthemed td.fc-today {
    background-color: transparent
}

.fc-unthemed td.fc-today span {
    color: #fb6340
}

.fc-event {
    padding: 0;
    font-size: .75rem;
    border-radius: .25rem;
    border: 0
}

.fc-event .fc-title {
    padding: .4rem .5rem;
    display: block;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600
}

.fc-event .fc-time {
    float: left;
    background: rgba(0, 0, 0, .2);
    padding: 2px 6px;
    margin: 0 0 0 -1px
}

.fc-view,
.fc-view>table {
    border: 0;
    overflow: hidden
}

.fc-view>table>tbody>tr .ui-widget-content {
    border-top: 0
}

.fc-body {
    border: 0
}

.fc-icon {
    font-family: NucleoIcons, sans-serif;
    font-size: 1rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px
}

.fc-icon:hover {
    color: #5e72e4
}

.fc-button {
    border: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.fc-button:active,
.fc-button:focus {
    outline: 0
}

.calendar {
    z-index: 0
}

.calendar td,
.calendar th {
    border-color: #eff1f3
}

.calendar .fc-toolbar {
    height: 250px;
    background-color: #fff;
    border-radius: .375rem .375rem 0 0;
    position: relative;
    margin-bottom: -2px;
    z-index: 2
}

@media (max-width:575.98px) {
    .calendar .fc-toolbar {
        height: 135px
    }
}

.calendar .fc-day-number {
    padding: .5rem 1rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width:576px) {
    .calendar .fc-day-number {
        font-size: .875rem;
        font-weight: 600;
        color: #67779d
    }
}

.calendar .fc-day-header {
    text-align: left
}

.calendar .fc-day-grid-event {
    margin: 1px 9px
}

[data-calendar-month] {
    background-size: contain;
    -webkit-transition: background-image .3s;
    transition: background-image .3s
}

@media (prefers-reduced-motion:reduce) {
    [data-calendar-month] {
        -webkit-transition: none;
        transition: none
    }
}

[data-calendar-month="0"] {
    background-image: url(/img/calendar/january.jpg)
}

[data-calendar-month="1"] {
    background-image: url(/img/calendar/february.jpg)
}

[data-calendar-month="2"] {
    background-image: url(/img/calendar/march.jpg)
}

[data-calendar-month="3"] {
    background-image: url(/img/calendar/april.jpg)
}

[data-calendar-month="4"] {
    background-image: url(/img/calendar/may.jpg)
}

[data-calendar-month="5"] {
    background-image: url(/img/calendar/june.jpg)
}

[data-calendar-month="6"] {
    background-image: url(/img/calendar/july.jpg)
}

[data-calendar-month="7"] {
    background-image: url(/img/calendar/august.jpg)
}

[data-calendar-month="8"] {
    background-image: url(/img/calendar/september.jpg)
}

[data-calendar-month="9"] {
    background-image: url(/img/calendar/october.jpg)
}

[data-calendar-month="10"] {
    background-image: url(/img/calendar/november.jpg)
}

[data-calendar-month="11"] {
    background-image: url(/img/calendar/december.jpg)
}

.card-calendar .card-header {
    border-bottom: 0
}

.card-calendar table {
    background: transparent
}

.card-calendar table tr>td:first-child {
    border-left-width: 0
}

.card-calendar table tr>td:last-child {
    border-right-width: 0
}

.widget-calendar {
    position: relative;
    z-index: 0
}

.widget-calendar td,
.widget-calendar th {
    border-color: transparent;
    text-align: center
}

.widget-calendar .fc-toolbar {
    margin-top: 1.25rem
}

.widget-calendar .fc-toolbar h2 {
    font-size: 1rem
}

.widget-calendar .fc-day-number {
    text-align: center;
    width: 100%;
    padding: 0
}

.widget-calendar .fc table {
    font-size: .875rem
}

.widget-calendar .fc th {
    padding: .75rem .5rem;
    font-size: .75rem
}

#worldMap {
    width: 100%
}